{% extends 'base.html' %}
{% block body %}
    <div class="container custom-container">
        <div class="text-center">
            <header>
                <h1>About Us</h1>
            </header>
            <section>
                <h2>Who We Are</h2>
                <p>Welcome to our website! We are a platform dedicated to providing a space for users to post and explore advertisements.</p>
            </section>
            <section>
                <h2>Our Mission</h2>
                <p>Our mission is to create a user-friendly platform for individuals and businesses to publish their ads and connect with a broader audience.</p>
            </section>
            <section>
                <h2>How It Works</h2>
                <p>Users can easily create accounts, post their ads, and browse through the listings. Whether you're looking to buy, sell, or promote, our platform is here to facilitate your needs.</p>
            </section>
            <section>
                <h2>Contact Us</h2>
                <p>If you have any questions, feedback, or concerns, feel free to contact us at <a href="mailto:gurlenko.com">gurlenko.com</a>.</p>
            </section>
        </div>
    </div>
{% endblock %}
