<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  {% block head %}
</head>
<body>
  <nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Gurlenko site</a>
      <div class="cart-container">
        <button id="cart-button">
          <span class="badge">{{ session['busket'] | length }}</span>
          <img class="cart-button-img" src="{{ url_for('static', filename='/basket.png') }}" alt="Cart">
        </button>
        <div class="cart-menu" id="cart-menu">
            {% for notice in session['busket'] %}
            <div class="cart-item">
                <form class="remove-form" action="/remove_from_cart" method="POST">
                    <input type="hidden" name="item_id" value="{{ notice.id }}">
                    <button class="x-button" type="submit" data-item-id="{{ notice.id }}">&times;</button>
                </form>
                <p class="title">{{ notice['title'] }}</p>
                <p class="price">{{ notice['price'] }} UAH</p>
            </div>
            {% endfor %}
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav me-auto mb-2">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile/{{ session['userLogged'] }}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Contact Us</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="https://www.linkedin.com/">LinkedIn</a></li>
              <li><a class="dropdown-item" href="https://www.facebook.com/">Facebook</a></li>
              <li><a class="dropdown-item" href="https://www.youtube.com/">YouTube</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/logout">Logout</a>
          </li>
        </ul>
        <form role="search">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>
  {% endblock %}
  {% block body %}

  {% endblock %}
  </div>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>